.business-wrapper {
  padding: 50px 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.business-wrapper .businessName {
  margin-bottom: 5px;
}

.business-wrapper .business-info-wrapper {
  display: flex;
  align-items: center;
}

.business-wrapper .business-info-wrapper .info-contact-icon {
  background: rgb(233, 135, 0);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 5px;
}

.business-wrapper .business-info-wrapper p {
  font-size: 13px;
  color: #1e1e1ed7;
  font-family: "Poppins";
}

@media screen and (max-width: 1300px) {
  .business-wrapper {
    padding: 50px 100px;
  }
}

@media screen and (max-width: 1100px) {
  .business-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 850px) {
  .business-wrapper {
    padding: 50px 30px;
  }
}

@media screen and (max-width: 680px) {
  .business-wrapper {
    grid-template-columns: repeat(1, 1fr);
    padding: 50px 20px;
  }
}
