.business-wrapper {
  padding: 50px 200px;
}

.business-wrapper form {
  padding: 20px;
  width: 800px;
  margin: auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.business-wrapper .business-input-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 8px 0;
}

.business-input-wrapper .css-sghohy-MuiButtonBase-root-MuiButton-root {
  width: 98%;
  background: transparent;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.23);
  color: rgba(0, 0, 0, 0.7);
  height: 96%;
  margin: 2px;
  text-transform: capitalize;
}

.business-input-wrapper .css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
  background: transparent;
  box-shadow: none;
}
