.donation-info {
  padding: 100px 200px;
}

.donation-info-inner {
  display: flex;
  width: 100%;
}

.donation-info-inner .donation-info-img {
  width: 50%;
  height: 400px;
}

.donation-info-inner .donation-info-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.donation-info-inner .donation-info-details {
  width: 50%;
  padding: 30px;
  display: flex;
  align-items: center;
}

.donation-info-details .donation-details {
  width: 400px;
}

.donation-details h3 {
  font-size: 30px;
  font-family: "Poppins";
}

.donation-details .price {
  font-size: 20px;
}

.donation-details p {
  font-family: "Poppins";
}

.donation-details .donation-details-overview {
  margin: 20px 0;
  color: #000000c7;
}

.donation-details .donation-details-overview h5 {
  font-size: 20px;
  font-family: "Poppins";
  margin: 10px 0;
}

.donation-details .donation-details-overview .donation-description {
  font-size: 16px;
  line-height: 1.4rem;
  margin: 10px 0;
}

.donate-qty-btn {
  display: flex;
  width: 80%;
  font-family: "Poppins";
  justify-content: space-between;
}

.donate-qty-btn .donate-price {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 600;
}

.donate-qty-btn > p {
  font-size: 15px;
}

.donation-details .donation-qty {
  width: fit-content;
  margin: 8px 0;
  border: 1px solid #00000039;
}

.donation-details .donation-qty button {
  padding: 7px 15px;
  font-size: 22px;
  border: none;
  cursor: pointer;
}

.donation-details .donation-qty span {
  display: inline;
  padding: 10px 15px;
}

.donation-details .donation-btn button {
  padding: 10px 30px;
  font-family: "Poppins";
  border-radius: 5px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  background: rgba(220, 20, 20, 0.945);
  color: #ffffffd2;
}

.donation-details .donation-btn button:disabled {
  background: rgba(235, 53, 53, 0.901);
}

@media (min-width: 990px) and (max-width: 1200px) {
  .donation-info {
    padding: 100px;
  }
}

@media (min-width: 840px) and (max-width: 990px) {
  .donation-info {
    padding: 100px 30px;
  }
  .donation-info-inner .donation-info-img {
    display: flex;
    align-items: center;
  }
  .donation-info-inner .donation-info-img img {
    height: fit-content;
  }
}

@media (min-width: 500px) and (max-width: 840px) {
  .donation-info {
    padding: 100px 50px;
  }
  .donation-info-inner {
    flex-direction: column;
    padding: 0 100px;
  }
  .donation-info-inner .donation-info-img {
    width: 100%;
    text-align: center;
  }
  .donation-info-inner .donation-info-img img {
    width: 65%;
  }
  .donation-info-inner .donation-info-details {
    width: 100%;
  }
}

@media screen and (max-width: 710px) {
  .donation-info-inner {
    flex-direction: column;
    padding: 0 20px;
  }
}

@media screen and (max-width: 500px) {
  .donation-info {
    padding: 100px 20px;
  }
  .donation-info-inner {
    flex-direction: column;
  }
  .donation-info-inner .donation-info-img {
    width: 100%;
    text-align: center;
  }
  .donation-info-inner .donation-info-img img {
    width: 100%;
  }
  .donation-info-inner .donation-info-details {
    width: 100%;
  }
  .donation-details .donation-btn button {
    padding: 10px 20px;
    font-size: 15px;
  }
}

@media screen and (max-width: 465px) {
  .donation-info-inner .donation-info-details {
    padding: 30px 5px;
  }
  .donation-details .donation-qty button {
    padding: 4px 13px;
  }
  .donate-qty-btn {
    width: 100%;
  }
  .donate-qty-btn .donate-price {
    margin-top: 6px;
    font-size: 22px;
  }
}
