.event-descriptions{
    padding: 40px 50px;
    padding-bottom: 50px;
    border-radius: 5px;
    background: hsl(0, 0%, 100%);
    margin: 40px 0;
}

.event-descriptions > hr{
    margin-bottom: 30px;
}

.event-descriptions > h3{
    margin: 10px 0;
}

.event-more-info{
    display: flex;
    justify-content: space-between;
}

.event-more-info span{
    display: inline-block;
    margin: 10px 0;
}

.event-more-info span.text-span{
    color: #000000a7;
    margin-left: 5px;
}

.event-more-info span.bold{
    font-weight: 600;
}