.villageUserProfile-wrapper {
  padding: 100px;
}

.villageUserProfile-wrapper .userProfile {
  padding: 30px 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 60px 0px rgba(0, 0, 0, 0.2);
  border-left: 5px solid #e1b43d;
  margin: auto;
  margin-bottom: 60px;
  width: 80%;
}

.userProfile .profile-header {
  font-size: 22px;
  font-family: "Roboto-Bold";
  margin-left: 25px;
}

.userProfile .userInfo-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.userProfile .userInfo-wrapper .userAvatar {
  padding: 20px;
  display: grid;
  place-items: center;
}

.userAvatar img {
  object-fit: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 1px solid #e1b43d;
  object-position: center;
}

.userInfo-wrapper .userInfo {
  padding: 20px;
}

.userInfo h3 {
  margin-bottom: 10px;
  font-family: "Poppins";
  font-size: 20px;
  text-transform: uppercase;
}

.villageUserProfile-wrapper .userInfo ul {
  border-top: 1px solid #36363659;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.userInfo ul li {
  list-style: none;
  display: flex;
  margin: 10px 0;
}

.userInfo ul li svg {
  background: #e1b43d;
  padding: 5px;
  font-size: 25px;
  color: #fff !important;
  border-radius: 8px;
}

.userInfo ul li p.village {
  text-transform: capitalize;
}

.userInfo ul li svg {
  color: #363636;
}

.userInfo ul li p {
  margin-left: 10px;
  color: #000000e8;
  font-family: "Poppins";
}

@media screen and (max-width: 1150px) {
  .villageUserProfile-wrapper {
    padding: 100px 50px;
  }
  .villageUserProfile-wrapper .userProfile {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .villageUserProfile-wrapper .userProfile {
    width: 100%;
  }
  .userAvatar img {
    height: 165px;
    width: 165px;
  }
}

@media screen and (max-width: 750px) {
  .userProfile .userInfo-wrapper {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  .villageUserProfile-wrapper {
    padding: 50px 20px;
  }
  .userProfile .profile-header {
    text-align: center;
    margin-left: 0;
  }
  .userInfo-wrapper .userInfo {
    padding: 20px 0;
  }
  .userInfo h3 {
    text-align: center;
  }
  .userInfo ul li p {
    font-size: 15px;
  }
}
