.donation-page {
  padding: 30px 180px;
}

.donation-page h3 {
  font-size: 22px;
  margin: 10px 0;
}

.donation-inner {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.donation-inner .donation-card {
  width: 260px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  margin: 10px;
}

.donation-card .donation-img-section {
  height: 15rem;
  overflow: hidden;
}

.donation-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  object-position: top;
}

.donation-card .donation-info {
  padding: 20px;
}

.donation-card .donation-info h4 {
  font-family: "Poppins";
  font-size: 20px;
}

.donation-card .donation-info p {
  font-family: "Poppins";
}
.donation-card .donation-info p span {
  display: inline;
}

.donation-card .donation-info button {
  padding: 8px;
  font-family: "Poppins";
  border: none;
  margin: 10px 0;
  font-size: 15px;
  border-radius: 10px;
  width: 100%;
  background: rgb(255, 173, 59);
  color: #000;
  cursor: pointer;
}

.donation-card .donation-info button:hover {
  background: rgb(238 168 72);
}

.donation-card:hover .donation-img {
  transform: scale(1.05);
}

@media screen and (max-width: 1050px) {
  .donation-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .donation-inner .donation-card {
    width: auto;
  }
}

@media screen and (max-width: 850px) {
  .donation-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1250px) {
  .donation-page {
    padding: 100px 50px;
  }
}

@media screen and (max-width: 650px) {
  .donation-page {
    padding: 100px 5px;
  }
}
@media screen and (max-width: 550px) {
  .donation-page {
    padding: 100px 5px;
  }
  .donation-inner {
    grid-template-columns: 1fr;
  }
  .donation-page {
    padding: 100px 80px;
  }
}

@media screen and (max-width: 500px) {
  .donation-page {
    padding: 30px 50px;
  }
}
