.login-form {
  margin-top: 80px !important;
  padding: 20px;
}

.login {
  width: 500px;
  margin: auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 14px;
}

.form-header p {
  margin-top: 10px;
  line-height: 1.2em;
}

span {
  display: block;
  text-align: center;
  margin: 20px auto;
}

span > a,
p.forgot-password > a {
  color: #a7732b;
  text-decoration: none;
}

p.forgot-password {
  text-align: right;
  margin: 10px 0 0px;
}

span.register-link {
  display: block;
  margin: 20px 0 10px 0;
}

/* .landing-page::before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 10%;
  background: red;
  opacity: 0.8;
  z-index: -1;
} */

@media (min-width: 320px) and (max-width: 770px) {
  .landing-page-inner .landing-first {
    display: none;
  }
  .landing-form .form-header p {
    display: none;
  }
  .landing-second .form-header h2 {
    font-size: 38px;
  }
  .form-header {
    padding: 30px 0 !important;
  }
}
