.hero-section-header {
  position: relative;
  display: grid;
  place-items: center;
  height: 250px;
  margin-bottom: 30px;
  background: url(../../assets/images/home-section.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
}

.hero-section-header .hero-section-header-inner {
  text-align: center;
  z-index: 1;
  color: #fff;
}

.hero-section-header .hero-section-header-inner h2 {
  font-size: 54px;
  font-family: "Poppins Bold";
}

.hero-section-header .hero-section-header-inner p {
  color: #b1b1b1;
}

@media (min-width: 500px) and (max-width: 750px) {
  .hero-section-header .hero-section-header-inner h2 {
    font-size: 40px;
    margin-bottom: 5px;
  }
}

@media (max-width: 499px) {
  .hero-section-header .hero-section-header-inner h2 {
    font-size: 30px;
    margin-bottom: 5px;
  }
}
