.forgot-mobile > .css-wb57ya-MuiFormControl-root-MuiTextField-root {
  margin-left: 60px !important;
  width: -webkit-fill-available !important;
  position: relative;
}

.forgot-mobile > .css-wb57ya-MuiFormControl-root-MuiTextField-root::after {
  content: "+91";
  position: absolute;
  top: 0;
  left: -56px;
  width: 9%;
  height: 100%;
  display: grid;
  place-items: center;
  color: rgba(0, 0, 0, 0.73);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.33);
  /* background-color: red; */
}

.otp-wrapper {
  display: grid;
  place-items: center;
  padding: 50px;
}

.otp-wrapper > div {
  margin-bottom: 20px;
}

.otp-wrapper > h3 {
  color: #000000d1;
  margin-bottom: 10px;
  font-family: "Poppins";
}

.otp-wrapper > div > input {
  padding: 10px 12px;
  border-radius: 5px;
  border: 1px solid #00000085;
  margin: 0 5px;
  width: 36px !important;
}

.otp-wrapper > button {
  padding: 8px 20px;
  border: none;
  background: rgb(233, 135, 0);
  border-radius: 5px;
  color: #ffffffdb;
  font-size: 14px;
}

.otp-wrapper > button:hover {
  background: rgb(193, 117, 10);
}

/* Loading */
span {
  display: inline;
  margin: 0;
}

.forgot-inner .css-18lrjg1-MuiCircularProgress-root {
  width: 25px !important;
  height: 25px !important;
  margin-right: 10px;
  color: #fff;
}
