.home {
  background: #f4f4f4;
}

.home .heading {
  text-align: center;
  margin: 50px 0;
  margin-top: 80px;
}

.slick-slider .slick-list {
  padding: 10px;
}

.home-hero-section {
  position: relative;
  height: 550px;
  background: url("../../assets/images/home-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top center;
  display: flex;
  align-items: center;
  padding: 0 200px;
  z-index: 1;
}

.home-hero-section::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.84;
  top: 0;
  left: 0;
  z-index: -1;
}

.home-hero-section-inner {
  text-align: center;
}

.home-hero-section-inner h1 {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  margin: 20px 0;
}

.home-hero-section-inner p {
  color: #b1b1b1;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 50px;
}

.home-hero-section-inner .home-hero-button button {
  padding: 20px 50px;
  border-radius: 30px;
  border: none;
  background: rgb(167, 115, 43);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #fff;
  text-transform: uppercase;
  margin: 0 10px;
  cursor: pointer;
}

.home-hero-section-inner .home-hero-button a:last-child button {
  background: transparent;
  border: 2px solid #fff;
  transition: all 0.2s;
}

.home-hero-section-inner .home-hero-button button:last-child:hover {
  background: rgb(167, 115, 43);
  border-color: rgb(167, 115, 43);
}

.carousel {
  margin: auto;
  width: 90%;
  padding: 80px;
}

.village-wise-comeeti-members {
  background: #fff;
  padding: 80px 150px;
}

.village-wise-comeeti-members-header {
  display: grid;
  place-items: center;
  margin-bottom: 50px;
  text-align: center;
}

.village-wise-comeeti-members-header h2 {
  font-size: 40px;
}

.village-wise-comeeti-members-header .header-bottom {
  display: flex;
  margin: 10px 0;
}

.home-section-description {
  font-size: 20px;
  width: 750px;
  line-height: 1.4em;
}

.village-wise-comeeti-members-header .header-bottom div {
  width: 4px;
  height: 4px;
  background: #e1b43d;
  border-radius: 50%;
  margin: 5px;
}

.village-wise-comeeti-members-header .header-bottom div:last-child {
  width: 40px;
  border-radius: 10px;
}

.village-wise-comeeti-carousel-card {
  width: 350px;
  padding: 50px 30px;
  margin: 10px;
  margin: auto;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.063) 0px 0px 10px;
  border-radius: 10px;
}

.village-wise-comeeti-carousel-card .comeeti-carousel-img {
  width: 150px;
  margin: auto;
}

.village-wise-comeeti-carousel-card .comeeti-carousel-img img {
  width: 100%;
  border: 10px solid #dfdfdf;
  background-size: cover;
  border-radius: 50%;
}

.village-wise-comeeti-carousel-info {
  text-align: center;
}

.village-wise-comeeti-carousel-info h1 {
  margin: 20px 0;
}

.village-wise-comeeti-carousel-info p {
  margin: 5px 0;
}

.yuvak-mandal-wrapper {
  padding: 80px 150px;
}

.yuvak-mandal-table {
  display: flex;
  justify-content: center;
}

.committee-mandal {
  margin: 80px 0;
}

.committee-mandal h2 {
  text-align: center;
  margin-bottom: 20px;
}

.committee-users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 70%;
}

.committee-users-details {
  width: 200px;
  text-align: center;
  margin: 2px 10px;
  display: flex;
  flex-direction: column;
}

.committee-users-details h4 {
  margin: 10px 0;
}

.committee-users-details img {
  width: 150px;
  border-radius: 50%;
}

@media (min-width: 715px) and (max-width: 920px) {
  .home-section-description {
    width: 500px;
    font-size: 18px;
  }
}

@media (max-width: 715px) {
  .home-section-description {
    width: 100%;
    font-size: 16px;
  }
}

@media (min-width: 800px) and (max-width: 1024px) {
  .home-hero-section {
    height: 614px;
    padding: 0 20px;
  }
  .carousel {
    width: 100%;
    padding: 100px 50px;
  }
  .carousel-card h2 {
    font-size: 22px !important;
  }
  .carousel-card .total-family {
    font-size: 12px !important;
  }
  .carousel-comeeti-details {
    flex-direction: column !important;
  }
  .carousel-comeeti-gender {
    text-align: end;
  }
  .village-wise-comeeti-members {
    padding: 100px 50px;
  }
  .village-wise-comeeti-carousel-card {
    width: 264px;
    padding: 50px 0px;
  }
  .yuvak-mandal-wrapper {
    padding: 100px;
  }
  .committee-users {
    width: 86%;
  }
}

@media (min-width: 500px) and (max-width: 799px) {
  .home-hero-section {
    height: 614px;
    padding: 0 20px;
  }
  .home-hero-section-inner h1 {
    font-size: 39px;
  }
  .home-hero-section-inner p {
    font-size: 16px;
  }
  .home-hero-section-inner .home-hero-button button {
    padding: 17px 40px;
  }
  .carousel {
    width: 100%;
    padding: 100px 50px;
  }
  .slick-track {
    width: 350rem !important;
  }
  .slick-slide {
    width: 310px !important;
  }
  .carousel-card h2 {
    font-size: 22px !important;
  }
  .carousel-card .total-family {
    font-size: 12px !important;
  }
  .carousel-comeeti-details {
    flex-direction: column !important;
  }
  .carousel-comeeti-gender {
    text-align: end;
  }
  .village-wise-comeeti-members {
    padding: 100px 50px;
  }
  .village-wise-comeeti-carousel-card {
    width: 264px;
    padding: 50px 0px;
  }
  .yuvak-mandal-wrapper {
    padding: 100px 20px;
  }
  .committee-users {
    width: 86%;
  }
  .yuvak-mandal-table {
    overflow-y: scroll;
  }

  .committee-users {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media (min-width: 310px) and (max-width: 499px) {
  .home-hero-section {
    height: 614px;
    padding: 0 20px;
  }
  .home-hero-section-inner h1 {
    font-size: 30px;
  }
  .home-hero-section-inner p {
    font-size: 14px;
    line-height: 25px;
  }
  .home-hero-button button {
    margin: 5px 0 !important;
  }
  .home-hero-section-inner .home-hero-button button {
    padding: 17px 40px;
  }
  .village-wise-comeeti-members-header h2 {
    font-size: 23px;
  }
  .carousel {
    width: 100%;
    padding: 100px 50px;
  }
  .slick-track {
    width: 350rem !important;
  }
  .slick-slide {
    width: 310px !important;
  }
  .carousel-card h2 {
    font-size: 22px !important;
  }
  .carousel-card .total-family {
    font-size: 12px !important;
  }
  .carousel-comeeti-details {
    flex-direction: column !important;
  }
  .carousel-comeeti-gender {
    text-align: end;
  }
  .village-wise-comeeti-members {
    padding: 100px 50px;
  }
  .village-wise-comeeti-carousel-card {
    width: 264px;
    padding: 50px 0px;
  }
  .yuvak-mandal-wrapper {
    padding: 80px 10px;
  }
  .committee-users {
    width: 86%;
  }
  .yuvak-mandal-table {
    overflow-y: scroll;
  }
  .committee-users {
    grid-template-columns: 1fr 1fr !important;
  }
}
