.about-hero-section {
  position: relative;
  height: 30rem;
  padding: 150px 100px;
  background-image: url("../../assets/images/about-banner.jpeg");
  background-size: cover;
  display: grid;
}

.about-hero-section::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    127deg,
    rgb(0, 0, 0) 35%,
    rgba(255, 255, 255, 0) 70%
  );
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.about-hero-header {
  width: 50%;
  z-index: 1;
  color: #fff;
}

.about-hero-header h1 {
  margin-bottom: 20px;
  font-size: 50px;
  font-family: "Poppins 600";
}

.about-hero-header p {
  line-height: 1.8rem;
  font-size: 19px;
  color: #ffffff96;
  font-family: "Roboto";
}

.about-info-section {
  padding: 100px 200px;
}

.about-info-section {
  display: flex;
  width: 100%;
}

.about-info-section .about-info-one {
  width: 50%;
  margin-right: 5rem;
}

.about-info-section .about-info-one h2 {
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-family: "Poppins Bold";
}

.about-info-section .about-info-one > p {
  font-size: 1.1rem;
  margin: 2rem 0;
  line-height: 1.6rem;
  color: #000000b8;
}

.about-info-section .about-info-two {
  width: 50%;
}

.about-info-section .about-info-two img {
  width: 100%;
  border-radius: 40px;
}

.about-info-mission {
  display: flex;
}

.about-info-mission .mission-img {
  margin: 1rem 2rem 0 0;
}

.about-info-mission .mission-img img {
  width: 2.5rem;
}

.about-info-mission-inner-desc h3 {
  margin: 10px 0;
  font-size: 1.4rem;
  color: #000000d6;
  font-family: "Roboto";
}

.about-info-mission-inner-desc p {
  margin: 20px 0;
  font-size: 16px;
  color: #000000c6;
  line-height: 1.4rem;
}

@media screen and (max-width: 1024px) {
  .about-hero-section {
    padding: 100px;
    background-position: right;
  }
  .about-info-section {
    padding: 100px;
  }
}

@media screen and (max-width: 990px) {
  .about-info-section {
    flex-direction: column-reverse;
    align-items: center;
  }
  .about-info-section .about-info-two {
    width: 55%;
    margin: 30px 0;
  }
  .about-info-section .about-info-one {
    width: 100%;
    margin-right: 0px;
  }
}

@media screen and (max-width: 800px) {
  .about-hero-section {
    padding: 30px;
    background-position: center;
    height: fit-content;
  }
  .about-hero-header {
    margin: 50px 0;
    width: 60%;
  }
  .about-hero-header h1 {
    font-size: 40px;
  }
  .about-hero-header p {
    font-size: 16px;
  }
  .about-info-section {
    padding: 50px;
  }
  .about-info-section .about-info-two {
    width: 100%;
  }
  .about-info-section .about-info-one h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
  }
  .about-info-mission .mission-img {
    margin: 0 1rem 0 0;
  }
  .about-hero-section::after {
    background: linear-gradient(
      127deg,
      rgb(0, 0, 0) 43%,
      rgba(255, 255, 255, 0) 87%
    );
  }
}

@media screen and (max-width: 600px) {
  .about-hero-section {
    background-position: right;
  }
  .about-hero-header {
    width: 90%;
  }
  .about-info-section {
    padding: 50px 20px;
  }
  .about-info-mission {
    flex-direction: column;
    border: 1px solid #000000b8;
    border-radius: 20px;
    padding: 20px;
    margin: 50px 0;
  }
  .about-info-mission .mission-img {
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }
  .about-info-mission-inner-desc {
    text-align: center;
  }
  .about-hero-section::after {
    background: linear-gradient(
      127deg,
      rgb(0, 0, 0) 63%,
      rgba(255, 255, 255, 0) 87%
    );
  }
}
